.orderpage {
    &-box {
        display: flex;
        margin: 0px 0px 32px;
        justify-content: space-between;
    }
    &-header {
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
    }
    &-box_white {
        background-color: white;
        border-radius: 15px 10px 0px 0px;
    }
    &-box_white {
        background-color: white;
        border-radius: 15px 10px 0px 0px;
    }
}
