@import '../../assets/styles/variable';

.buttonGroup {
    color: $primary_color;
    border: none;
    background-color: transparent;
    border-color: $primary_color;
}
.tabfilter {
    padding: 0;
}
