@import '../../../../assets/styles/variable.scss';

.layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &_primary {
        margin-bottom: 1px;
        color: black;
        padding: 0;
        text-transform: none;
        transition: ease, 0.5s;
        padding: 0 10px;
        &:hover {
            background-color: #cecece;
        }
    }
    &_primary_noHover {
        margin-bottom: 1px;
        color: black;
        font-weight: 500;
        padding: 0;
        text-transform: none;
        transition: ease, 0.5s;
    }

    &_secondary {
        margin: 1px 0 0 0;
        padding: 0 10px;
        color: $span_color;
    }
}

.dollar_color {
    margin: 0;
    color: $dollar_color;
}
