.transactionboard {
    width: 450px;
}
.primary {
    margin: 0;
    color: black;
    padding: 0;
    text-transform: none;
}
.primary:hover {
    background-color: transparent;
}

.transactionboard {
    width: 450px;
}

.transactionboard {
    width: 450px;
}
