@import '../../assets/styles/variable.scss';

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resetpassword {
    &-container {
        @include flexCenter;
        width: 50vh;
        height: 100vh;
    }

    &-box {
        @include flexCenter;
        background: $background_color;
        width: 80vh;
        height: 50vh;
        border-radius: 8px;
    }

    &-inputfield {
        width: 300px;
        margin: 10px;
    }

    &-title {
        font-size: 20px;
        color: $primary_color;
    }

    &-error {
        font-size: small;
        color: #df241a;
        margin: 5px 0;
    }

    &-btn {
        background-color: $primary_color;
        margin: 15px;

        &:hover {
            background-color: $primary_color_lighter;
        }
    }
}

form {
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 10px;
    height: auto;
}
