@import '../../assets/styles/variable.scss';

.customerpage {
    &-box {
        display: flex;
        margin: 0px 0px 32px;
        justify-content: space-between;
        align-items: center;
    }
    &-header {
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
    }
    &-addbtn {
        border-radius: 8px;
        background-color: $primary_color;
        margin: 0px;
        border: none;
        font-weight: 600;
        &:hover {
            background-color: $primary_color_lighter;
        }
    }
    &-addicon {
        font-size: large;
        padding-right: 5px;
    }
}
