.InlineField {
    width: 100%;
    display: flex;
    padding: 17px 0;
    p {
        margin: 0;
    }

    &_left {
        color: #6c757d;
        display: block;
        flex: 50%;
    }
    &_right {
        flex: 50%;
        display: flex;
        display: block;
    }
}
