// variables of stylesheet
$primary_color: #08182b;
$primary_color_lighter: #103156;
$primary_color_alt: #57718e1a;
$secondary_color: #10b981;
$background_color: #f9fafc;
$body_color: #17161b1a;
$tertiary_color: #f17c68;
$tertiary_color_lighter: #f17c681a;
$span_color: #65748b;
$dollar_color: #3bb077;
$scroll-bar-color: #e2e5e9;
$scroll-thumb-color: #c6cbd2;
